In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

In [3]:
# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(purchase_data)
purchase_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [4]:
# counting the number of players 
tot_players_df = (len(purchase_df["SN"].unique()))
tot_players_df

576

In [5]:
# Running the  basic calculations to obtain number of unique items
unique_items = (len(purchase_df["Item ID"].unique()))
unique_items

183

In [6]:
# Running the basic calculations to obtain the average price
average_price = purchase_df["Price"].mean().round(2)
average_price

3.05

In [7]:
# Running the basic calculations to obtain the number of Purchases 
num_purch = (len(purchase_df["Purchase ID"].unique()))
num_purch

780

In [8]:
# Running the basic calculations to obtain the Total Revenue = Price * purchases  
tot_rev = average_price * num_purch
tot_rev

2379.0

In [9]:
summary_results_df = pd.DataFrame({
"Number of Unique Items": [unique_items],
                            "Average Price": average_price,
                            "Number of Purchases" : num_purch,
                            "Total Revenue" : tot_rev})
summary_results_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780         2379.0

In [10]:
#Group by Gender
gender_group = purchase_df.groupby("Gender")
gender_group

In [11]:
#this is to extrapolate the unique value for each gender group 
dem_count_gender = gender_group.nunique()["SN"]
dem_count_gender

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [12]:
# percentage of players 
perc_players = dem_count_gender/tot_players_df *100
perc_players.round(2)

Gender
Female                   14.06
Male                     84.03
Other / Non-Disclosed     1.91
Name: SN, dtype: float64

In [13]:
#Demographic summary for Genders 
gender_demographics = pd.DataFrame({"Total Count":dem_count_gender, "Percentage of Players":perc_players})
gender_demographics.round(2)

                       Total Count  Percentage of Players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91

In [14]:
# Running basic calculations to find the purchase count 
purch_count = purchase_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
purch_count

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Total Purchase Value, dtype: float64

In [15]:
# Running basic calculations to find the average purchase count
avg_purch_count = purchase_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")

avg_purch_count.round(2).map("${:,.2f}".format)

Gender
Female                   $3.20
Male                     $3.02
Other / Non-Disclosed    $3.35
Name: Average Purchase Price, dtype: object

In [16]:
# Running basic calculations to find the total purchase count
gender_counts = purchase_df.groupby(["Gender"]).count()["Price"].rename("Purchase count")
gender_counts

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase count, dtype: int64

In [17]:
# Running basic calculations to find the Avg Total Purchase per Person
averg_tot_purch = purch_count / gender_counts
averg_tot_purch.round(2).map("${:,.2f}".format)

Gender
Female                   $3.20
Male                     $3.02
Other / Non-Disclosed    $3.35
dtype: object

In [18]:
# Converting to Dataframe for the Purchasing Analysis (Gender)
purcanalysis_display= pd.DataFrame({"Purchase Count":gender_counts,"Average Purchase Price":avg_purch_count,"Total Purchase Value":purch_count,"Average Total per Person": averg_tot_purch})


purcanalysis_display["Average Purchase Price"] = purcanalysis_display["Average Purchase Price"].map("${:,.2f}".format)
purcanalysis_display["Total Purchase Value"] = purcanalysis_display["Total Purchase Value"].map("${:,.2f}".format)
purcanalysis_display["Average Total per Person"] = purcanalysis_display["Average Total per Person"].map("${:,.2f}".format)
purcanalysis_display = purcanalysis_display.loc[:,["Purchase Count","Average Purchase Price","Total Purchase Value","Average Total per Person"]]

purcanalysis_display

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

In [19]:
#Establishing the bins
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names= ["<10","10-14", "15-19", "20-24", "25-29","30-34", "35-39", "40+"]

In [20]:
# Player Demographics 
purchase_df["Age Group"] = pd.cut(purchase_df["Age"], age_bins, labels=group_names)
age_group = purchase_df.groupby("Age Group")
tot_age_group = age_group["SN"].nunique()
perc_players = round(tot_age_group/tot_players_df*100,2)
age_demographic = pd.DataFrame({"Total Count":tot_age_group,"Percentage of Players":perc_players})
age_demographic.style.format({"Percentage of Players": "{:,.2f)%"})
age_demographic

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

In [21]:
#Run Calculations for Purchasing Analysis by age
age_purchase_total= purchase_df.groupby(["Age Group"]).sum()["Price"].rename("Total Purchase Price")
age_average_price= purchase_df.groupby(["Age Group"]).mean()["Price"].rename("Average Purchase Price")
age_average_tot_person= purchase_df.groupby(["Age Group"]).count()["Price"].rename("Purchase Count")
normalized_total = age_purchase_total / age_demographic["Total Count"].rename("Avg Total Purchase per Person")

age_summary = pd.DataFrame({"Total Purchase Price":age_purchase_total,"Average Purchase Price":age_average_price,"Purchase Count":age_average_tot_person,"Avg Total Purchase per Person":normalized_total})
age_summary.round(2)

,Total Purchase Price,Average Purchase Price,Purchase Count,Avg Total Purchase per Person
Age Group,,,,
<10,77.13,3.35,23,4.54
10-14,82.78,2.96,28,3.76
15-19,412.89,3.04,136,3.86
20-24,1114.06,3.05,365,4.32
25-29,293.00,2.90,101,3.81
30-34,214.00,2.93,73,4.12
35-39,147.67,3.60,41,4.76
40+,38.24,2.94,13,3.19

In [22]:
#run the calculations for top Spenders 
user_total = purchase_df.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_average = purchase_df.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = purchase_df.groupby(["SN"]).count()["Price"].rename("Purchase Count")
#Displaying the top Spenders
user_data = pd.DataFrame({"Purchase Count": user_count, "Average Purchase Price": user_average,"Total Purchase Value": user_total})
user_data
#Sorting Total Purchase Value in DE
user_sorted = user_data.sort_values("Total Purchase Value", ascending=False)
user_sorted.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [23]:
#Most popular items 
item_data = purchase_df.loc[:,["Item ID", "Item Name", "Price"]]

#Running calculations to find the Purchase Count,item price, and total purchase value
item_purchase = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
average_item_purchase = item_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_count = item_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")

#Displaying the most popular items                         
item_data_pd = pd.DataFrame({"Purchase Count": item_count, "Item Price": average_item_purchase, "Total Purchase Value": item_purchase,})

# Sort Values
item_data_count_sorted = item_data_pd.sort_values("Purchase Count", ascending=False)
item_data_count_sorted.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

In [24]:
#Find the most popular items
item_total_purchase = item_data_pd.sort_values("Total Purchase Value", ascending=False)

# reformatting the item price and the total Purchase Value for the most popular items
item_total_purchase["Item Price"] = item_total_purchase["Item Price"].map("${:,.2f}".format)
item_total_purchase["Purchase Count"] = item_total_purchase["Purchase Count"].map("{:,}".format)
item_total_purchase["Total Purchase Value"] = item_total_purchase["Total Purchase Value"].map("${:,.2f}".format)
item_profitable = item_total_purchase.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]
item_profitable.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80